@import "_misc/reset";
@import "_misc/fonts";

$main-blue: #5a90ba;
$main-black: #111111;
$main-grey: #f2f2f2;
$main-white: white;

html {
  scroll-behavior: smooth;
}

.button {
  outline: 0;
  border: 0;
  background-color: $main-blue;
  border-radius: 50px;
  font-family: 'RobotoBlack';
  color: $main-grey;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
}

.introduction {
  background-image: url("../images/main_winter.png");
  background-size: cover;
  min-width: 100%;
  height: 765px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;

  &__name {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'RobotoLight';
    font-size: 1.875rem;
    color: $main-black;
  }

  &__title {
    font-family: 'RobotoBlack';
    height: 80px;
    font-size: 3rem;
    color: $main-blue;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
  }

  &__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 90px;
    width: 150px;
    height: 2px;
    background-color: $main-black;
  }

  &__text {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'RobotoRegular';
    font-size: 1.125rem;
    color: $main-black;
    line-height: 1.5;
  }

  &__button {
    margin-top: 80px;
    height: 56px;
    width: 234px;
    font-size: 1.125rem;
  }
}

.main-elements {
  display: flex;
  align-items: center;

  &__button {
    height: 45px;
    width: 180px;
    font-size: 0.875rem;
  }
}

.header {
  height: 150px;
  max-width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
  position: relative;

  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    display: none;
  }

  &__main-elements {
    justify-content: flex-end;

    .logo {
      position: absolute;
      left: 100px;
    }
  }
}

.logo {
  width: 50px;
  height: 50px;
}

.menu{
  width: 300px;
  text-align: right;
  display: flex;
  justify-content: space-around;

  &__link {
    font-size: 0.875rem;
    color: $main-black;
    text-align: center;
    font-family: 'RobotoMedium';
    text-decoration: none;
    list-style-type: none;
  }

  &__link:hover {
    border-bottom: 2px solid $main-black;
  }

  &__item_hamburger {
    position: relative;
    display: block;
    height: 20px;
    width: 25px;
  }

  &__item_hamburger:hover {
    cursor: pointer;
  }

  span {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 4px;
    top: 50%;
    background-color: $main-black;
  }

  &__item_hamburger::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $main-black;
  }

  &__item_hamburger::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 4px;
    top: 100%;
    background-color: $main-black;
  }
}

.about{
  background-color: $main-grey;
  margin: 0 auto;
  min-height: 450px;
  padding-top: 150px;
}

.about-me {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__photo{
    width: auto;
    height: 393px;
  }

  &__words {
    background-color: $main-white;
    max-width: 475px;
    padding: 30px;
  }

  .words__title {
    margin-bottom: 30px;
    font-family: 'RobotoBlack';
    font-size: 2.25rem;
    color: $main-blue;
  }

  .words__text {
    font-family: 'RobotoLight';
    font-size: 1rem;
    color: $main-black;
    line-height: 1.5;
  }

  &__social {
    width: 80%;
    margin: 0 auto;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 20px 10px 0px;
  }
}

.portfolio {
  padding-top: 100px;
  background-color: $main-grey;
  min-height: 2000px;

  &__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: 'RobotoMedium';
    font-size: 1.875rem;
    color: $main-black;
  }

  &__items {
    margin: 0 auto;
    width: 70%;
  }

  &__items_size-s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    background-color: $main-white;
    display: block;
  }

  &__item_size-s:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
  }

  &__item_size-b:hover {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
  }

  .item__img_size-s {
    width: 100%;
    height: 160px;
  }

  .item__title_size-s {
    margin: 10px 10px 0;
    font-family: 'RobotoMedium';
    text-transform: capitalize;
    font-size: 1rem;
    color: $main-black;
  }

  .item__title_size-s::after {
    content: '';
    display: block;
    margin: 10px 0;
    height: 2px;
    width: 90%;
    background-color: $main-black;
  }

  .item__description_size-s {
    margin: 10px 10px 20px;
    font-family: 'RobotoLight';
    text-transform: capitalize;
    font-size: 0.875rem;
    color: $main-black;
  }

  .item__date {
    font-family: 'RobotoLight';
    font-size: 	0.75rem;
    margin: 0 10px;
    color: $main-black;
  }

  &__item_size-s{
    width: 200px;
    height: 266px;
    margin: 25px 20px;
  }

  &__item_size-b{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 454px;
    margin-bottom: 60px;
  }

  &__button {
    display: block;
    font-size: 1.125rem;
    width: 234px;
    height: 56px;
    margin: 100px auto;
  }

  &__items_size-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .item__title_size-b {
    text-transform: uppercase;
    font-family: 'RobotoMedium';
    font-size: 1.125rem;
    color: $main-blue;
  }

  .item__title_size-b::after {
    content: 'term1-term2';
    font-family: 'RobotoLight';
    font-size: 	0.75rem;
    margin-left: 40%;
    color: $main-black;
    text-align: right;
    display: inline;
  }

  .item__description_size-b {
    font-style: italic;
    font-family: 'RobotoRegular';
    font-size: 1rem;
    color: $main-black;
    margin-bottom: 140px;
    line-height: 1.5;
  }

  .item__description_size-b::before {
    content: '';
    display: block;
    margin: 10px 0;
    height: 2px;
    width: 100%;
    background-color: $main-black;
  }

  .item__img_size-b {
    display: block;
    margin-top: 26px;
    width: 264px;
    height: 208px;
  }

  .item__link {
    font-family: 'RobotoMedium';
    font-size: 1rem;
    color: $main-blue;
  }

  &__link {
    height: 50px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
    color: $main-blue;
    font-family: 'RobotoMedium';
    text-decoration: none;
    list-style-type: none;
  }

  &__item_hidden {
    display: none;
  }
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  &__menu {
    display: flex;
    justify-content: space-around;
  }

  &__main-elements {
    width: 100%;
    justify-content: space-between;
  }

  &__social {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__button{
      display: none;
    }

    .main-elements {
      display: flex;
      align-items: flex-start;
    }

    &__menu {
      .menu__item:not(:last-child) {
        display: none;
      }
    }

    .menu__item:last-child {
      display: block;
    }

    &__menu_adaptive{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;

      .menu__item:not(:last-child) {
        margin-top: 10px;
      }
    }
  }
  
  .about-me {
    &__photo{
      display: none;
    }
  }

  .portfolio {
    &__item_size-b{
      width: 100%;
    }
  }

  .footer {
    .button {
      display: none;
    }

    &__menu {
      height: 70px;
      display: flex;
      flex-direction: column;
    }
  }
}

